/* Table.css */

.table-container {
    height: 200px;
    width: 60%;
    overflow: auto;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  /* Optional: Style for the table */
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    border: 1px solid white;
  }
  
  .table-container th {
    background-color: black;
    text-align: left;
    color: white;
    position: sticky;
    top: 0;
  }
  
  .table-container tr:hover {
    background-color: #ddd;
  }
  