/* Target the entire scrollbar (WebKit browsers only) */
* {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width as needed */
  background-color: white; /* Set background color */
  border-radius: 10px;
}

/* Target the scrollbar thumb (WebKit browsers only) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Set thumb color */
  border-radius: 3px; /* Add rounded corners */
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  background: #403b4a; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #e7e9bb,
    #403b4a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper p{
    font-size: 20px;
    font-weight: bold;
}
